[submodule "fpga-drive-aximm-pcie"]
	path = fpga-drive-aximm-pcie
	url = https://github.com/fpgadeveloper/fpga-drive-aximm-pcie
[submodule "adi_hdl"]
	path = adi_hdl
	url = https://github.com/analogdevicesinc/hdl/
