zedHelloWorld/syn/vivado
zedHelloWorld/syn/*~
zedHelloWorld/syn/webtalk*
zedHelloWorld/src/*~
zedHelloWorld/sim/*~

ZCU106WhiteShark/syn/vivado
ZCU106WhiteShark/syn/*~
ZCU106WhiteShark/src/*~
ZCU106WhiteShark/sim/*~

zed_fmcs2/openwifi_zed_fmcs2/openwifi_zed_fmcs2.cache
zed_fmcs2/openwifi_zed_fmcs2/openwifi_zed_fmcs2.hw
zed_fmcs2/openwifi_zed_fmcs2/openwifi_zed_fmcs2.ip_user_files
zed_fmcs2/openwifi_zed_fmcs2/openwifi_zed_fmcs2.runs
zed_fmcs2/openwifi_zed_fmcs2/openwifi_zed_fmcs2.sim
zed_fmcs2/.Xil






