zedHelloWorld/syn/vivado
zedHelloWorld/syn/*~
zedHelloWorld/syn/webtalk*
zedHelloWorld/src/*~
zedHelloWorld/sim/*~

fmccomms2_zed/fmccomms2_zed.cache
fmccomms2_zed/fmccomms2_zed.hw
fmccomms2_zed/fmccomms2_zed.ip_user_files
fmccomms2_zed/fmccomms2_zed.runs
fmccomms2_zed/fmccomms2_zed.sim
fmccomms2_zed/.Xil

